<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}profile{%endblock%}</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="icon" types="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">

    <!-- Add the Bootstrap CSS from the CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Links to an external stylesheet (CSS) called 'style.css' using Flask's 'url_for' function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
    <div class="container">
        <header class="text-center mt-4">
            <h1 class="display-3">User Profile</h1>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="row">
            <aside class="col-md-3">
                <div class="text-center">
                    <img src="{{ user.avatar(128) }}" alt="User Profile Image" class="img-fluid rounded-circle mt-3">
                </div>
                <nav class="mt-3">
                    <ul class="list-unstyled">
                        <li>
                            <h2>Hi!<span class="user-name"> {{user.name }}</span></h2>
                        </li>
                        <li>
                            <p>Email: {{user.email}}</p>
                        </li>
                        <li>{% if user.last_seen %}
                            <p>Last seen on: {{ user.last_seen }}</p>
                            {% endif %}
                        </li>
                        <li><a href="/" class="text-decoration-none">Home</a></li>
                        <li><a href="/profile" class="text-decoration-none">Profile</a></li>
                        <li><a href="/change-password" class="text-decoration-none">Change Password</a></li>
                        <li><a href="/logout" class="text-decoration-none">Logout</a></li>
                    </ul>
                </nav>
            </aside>
            <section class="col-md-9">
                <div class="content bg-light p-4 rounded">
                    {% block content %}

                    {% endblock content %}
                </div>
            </section>
        </div>
        <!-- JS Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <!-- End of js scripts -->
</body>

</html>