<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}profile{%endblock%}</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="icon" types="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <!-- Links to an external stylesheet (CSS) called 'style.css' using Flask's 'url_for' function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
    <div class="profile-page">
        <h1 style="text-align: center;">User Profile</h1>

        <table>
            <tr valign="top">
                <td><img src="{{ user.avatar(128) }}"></td>
                <td>
                    <h2>Hi! {{user.name }}</h2>
                    <p>Email: {{user.email}}</p>
                    {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                    {% endif %}

                    <a href="/change-password">Change Password</a>
                </td>
            </tr>
        </table>

        <hr>

    </div>
    {% block content %}

    {% endblock content %}
    <!-- JS Scripts -->

    <!-- End of js scripts -->
</body>

</html>