<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="icon" types="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <!-- Links to an external stylesheet (CSS) called 'style.css' using Flask's 'url_for' function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
    <div class="profile-page">
        
    </div>
    <!-- JS Scripts -->
   
    <!-- End of js scripts -->
</body>

</html>